<!DOCTYPE html>
<html lang="es">
<head>

  {% block title %}<title>Librería Local</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file: -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
<!-- A fuerza bruta el link para Home sería /catalogo peró no sería ni flexible ni robusto-->
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'libros' %}">Todos los libros</a></li>
          <li><a href="{% url 'autores' %}">Todos los autores</a></li>
          <li><a href="{% url 'login' %}">Ir a cuentas</a></li>
          <li><a href="/admin">Ir a admin</a></li><!-- Y así accedo a un documento externo a la app dentro del mismo proyecto (por lo menos para admin). No sirve usando etiquetas de llaves y %: parece que sólo sirven para las plantillas de aplicaciones, y no para el administrador u otra dependencia builtin de django, que constituyen la entrada principal a través de las urls de la aplicación (bibliotecalocal/bibliotecalocal/urls.py-->
          <li><a href="">Cerrar sesión</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

<!-- Introducimos el código para hacer paginación en el bloque de contenido (block content). Si la plantilla heredera que se este operando, es llamada por una vista que habilite la paginación, con la proposición paginate_by = n, dónde n es un entero, mostrará el documento html en lotes de n filas o renglones. Debe ir aquí, en el bloque genérico principal, pues debe ser una opción (if is_paginated) común en todos los documentos heredados de este: -->
	{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previo</a>
              {% endif %}
              <span class="page-current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próxima</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %} 
<!-- Fin del bloque de código para paginación.-->
      </div>
    </div>

  </div>
</body>
</html>