<!-- Plantilla de la vista genérica VistaDetalleDeAutor(generic.DetailView), autor_detail.html-->

{% extends "base_generica.html" %}

{% block content %}
  <h1>Autor: {{ autor.apellido }},&nbsp{{ autor.nombre }} </h1>
  <p>{{ autor.fecha_nacimiento }}, &nbsp{{autor.fecha_muerte}}</p>
  <div style="margin-left:20px;margin-top:20px">
  <h3>Libros escritos por el autor registrados en la bliblioteca ({{ autor.libro_set.all.count }})</h3><!--Para la cantidad de libros u obras creadas por el autor, autor.libro_set.all.count representa un entero con el número de objetos en dicha colección. Como hemos dicho antes, el all es prescindible.-->

  {% for obra in autor.libro_set.all %}<!--Recordar que esta expresión se construye a partir del campo autor como clave foránea en la tabla (modelo o clase), Libro, referenciada aquí por convensión de sintaxis django en minúscula, expresión (autor.libro_set.all), que identifica a la colección de todos los registros (instancias, objetos) en la tabla Libros relacionados con el autor específicado por la url con id, que se usa para este documento. Aquí el all si es imprescindible.-->
    <p><a href="{{ obra.get_absolute_url }}">{{obra.titulo}}</a>(Hay &nbsp {{obra.ejemplarespecifico_set.all.count}} &nbsp copia{{ obra.ejemplarespecifico_set.all.count|pluralize }} en la biblioteca):</p><!--Note la referencia de hipertexto (href) en el ancla (a de anchor) para dirigir al documento de detalle de una obra o libro del autor, renderizando su plantilla respectiva (libro_detail.html), apuntado por la variable de plantilla, obra.titulo. Note como obtengo la cantidad total de ejemplares específicos para dicha obra o libro particular del autor en cuestión, que hay actualmente en la biblioteca. También note como funciona el colocador de s para pluralizar, |pluralize. -->
   <div style="margin-left:10px;margin-top:2px">
    <p>{{obra.resumen}}</p>
   </div>
  {% endfor %}
  </div>
{% endblock %}
