<!-- Recuerde: el nombre de esta plantilla vinculada a una vista genérica de tipo lista para el modelo Libro, debe tener el nombre nombreModeloMinúscula_list.html dónde _list es palabra reservada de django que indica que es plantilla asociada a dicho modelo en la vista genérica de este. Es una convención, arbitraria, puesto que django buscará automáticamente esta plantilla con el nombre específico nombreModeloMinúscula_list.html, previa invocaciónd de su vista genérica respectiva (VistaListaDeLibros en views.py. Para modificar este comportamiento automático, estandar por defecto, se debe referenciar dentro de la definición de la vista generica con algunas modificaciónes. -->

{% extends "base_generica.html" %}

{% block content %}
  <h1>Autor: {{ autor.apellido }},&nbsp{{ autor.nombre }} </h1>
  <p>{{ autor.fecha_nacimiento }}, &nbsp{{autor.fecha_muerte}}</p>
  <div style="margin-left:20px;margin-top:20px">
  <h3>Libros:</h3>
  {% for obra in autor.libro_set.all %}<!-- recordar que esta expresión se construye a partir del campo autor como clave foránea en la tabla (modelo, clase), Libro (referenciada aquí por convensión de sintaxis django en minúscula), expresión (autor.libro_set.all) que identifica a la colección de todos los registros (instancias, objetos) en la tabla Libros relacionados con el autor específicado por la url con id, que se usa para este documento.-->
    <p><a href="">{{obra.titulo}}</a></p>
    <p>{{obra.resumen}}</p>

  {% endfor %}
  </div>
{% endblock %}
