<!-- Plantilla de la vista genérica VistaListaDeAutores(generic.ListView), autor_list.html-->

{% extends "base_generica.html" %}

{% block content %}
    <h1>Lista de Autores</h1>

    {% if autor_list %} <!-- autor_list es una variable de plantilla del tipo nombre_del_modelo_list (_list es un calificador reservado de django, no arbitrario). -->
    <ul>

      {% for autor in autor_list %}<!--como dijimos arriba, _list es una palabra resevada de django -->
      <li>
        <a href="{{ autor.get_absolute_url }}">{{ autor.apellido }}, &nbsp;{{autor.nombre}}&nbsp({{ autor.fecha_nacimiento }}, &nbsp{{autor.fecha_muerte}})</a>
<!-- recuerde, espacio en blanco en html es &nbsp (el ; es prescindible) -->

      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay autores registrados aún en la librería.</p>
    {% endif %} 
{% endblock %}