<!-- Plantilla de la vista genérica VistaListaDeLibros(generic.ListView), libro_list.html-->
{% extends "base_generica.html" %}

{% block content %}
    <h1>Lista de Libros</h1>

    {% if libro_list %} <!-- libro_list es una variable de plantilla del tipo nombre_del_modelo_list (_list es un calificador reservado de django). -->
    <ul>

      {% for libro in libro_list %}<!--como dijimos arriba, _list es una palabra resevada de django -->
      <li>
        <a href="{{ libro.get_absolute_url }}">{{ libro.titulo }}</a> ({{libro.autor}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay libros en la librería.</p>
    {% endif %} 
{% endblock %}