<!-- Plantilla vista_bibliotecarios.html-->

{% extends "base_generica.html" %}

{% block content %}
    <h1>Libros Prestados:</h1>

    {% if ejemplarespecifico_list %}
    <ul>

      {% for instancia in ejemplarespecifico_list %}
      <li>
        <a href="{% url 'libro-detail' instancia.libro.pk %}">{{instancia.libro.titulo}}</a> <font class="{% if instancia.esta_atrasado %}text-danger{% endif %}">({{ instancia.devolucion }})</font>, al usuario: {{ instancia.prestatario.username }}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No hay libros prestados.</p>
    {% endif %}
{% endblock %}